node-red-data/.flows.json.backup
[{"id":"c4c50837.00cc28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24b57e93.ee56c2","type":"ui_tab","name":"Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"b671a2c9.27b24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d04e3134.a6ece","type":"ui_group","name":"Default","tab":"24b57e93.ee56c2","order":1,"disp":true,"width":24,"collapse":false},{"id":"10b7bc0e.510f44","type":"watch-directory","z":"c4c50837.00cc28","folder":"/detected","recursive":"8","typeEvent":"create","ignoreInitial":true,"ignoredFiles":"","ignoredFilesType":"re","name":"","x":160,"y":240,"wires":[["5c196178.dae71"]]},{"id":"5c196178.dae71","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["809d2449.ea9878"]]},{"id":"809d2449.ea9878","type":"file in","z":"c4c50837.00cc28","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":870,"y":240,"wires":[["714bb91e.9c29d8"]]},{"id":"12bfd5cf.91443a","type":"ui_template","z":"c4c50837.00cc28","group":"d04e3134.a6ece","name":"","order":1,"width":24,"height":17,"format":"<div>\n    <h2>{{msg.payload.label}}</h2>\n    <h3>{{msg.payload.date}} - {{msg.payload.time}}</h3>\n    <h4>Confidence: {{msg.payload.confidence}}</h4>\n    <img src=\"{{msg.payload.imgSource}}\" width=\"100%\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1180,"y":420,"wires":[[]]},{"id":"714bb91e.9c29d8","type":"base64","z":"c4c50837.00cc28","name":"","action":"","property":"payload","x":650,"y":420,"wires":[["b4d777a0.d78628"]]},{"id":"b4d777a0.d78628","type":"function","z":"c4c50837.00cc28","name":"","func":"let b64 = msg.payload;\nconst numberRegex = /[+-]?\\d+(\\.\\d+)?/g;\n\nconst pngPrefix = 'data:image/png;base64, ';\nconst jpgPrefix = 'data:image/jpg;base64, ';\nconst parts = msg.file.split('_');\n//person_2021-03-09_17_21_41_460777_conf0.61.jpg\nconst label = parts[0];\nconst date = parts[1];\nconst time = [2,3,4].map(i => parts[i]).join('-');\nconst confidence = parts[6].match(numberRegex).map(v => parseFloat(v))[0];\n\nlet imgSource = '';\n\nif(msg.filename.endsWith(\".png\"))\n    imgSource = pngPrefix + b64;\n\nif(msg.filename.endsWith(\".jpg\") || msg.filename.endsWith(\".jpeg\"))\n    imgSource = jpgPrefix + b64;\n    \nmsg.payload = {\n    label: label,\n    date: date,\n    time:time,\n    imgSource: imgSource,\n    confidence: confidence\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":420,"wires":[["35e15300.2df3ce"]]},{"id":"35e15300.2df3ce","type":"function","z":"c4c50837.00cc28","name":"","func":"const threshold = +global.get('lastConfidenceThreshold');\n\nif(msg.payload.confidence < threshold){\n    return null;\n}else{\n    global.set('lastConfidenceThreshold', msg.payload.confidence)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":420,"wires":[["12bfd5cf.91443a","5d9fc4e2.73510c"]]},{"id":"51963f3a.05edc","type":"inject","z":"c4c50837.00cc28","name":"resetThreshold","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":160,"wires":[["9a37922a.9b5ac"]]},{"id":"9a37922a.9b5ac","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"lastConfidenceThreshold","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":160,"wires":[[]]},{"id":"5d9fc4e2.73510c","type":"debug","z":"c4c50837.00cc28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":600,"wires":[]}]