node-red-data/flows.json
[{"id":"c4c50837.00cc28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33b962ae.3b4c2e","type":"subflow","name":"Display image","info":"","category":"","in":[{"x":60,"y":120,"wires":[]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"24b57e93.ee56c2","type":"ui_tab","name":"Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"d04e3134.a6ece","type":"ui_group","name":"Default","tab":"24b57e93.ee56c2","order":1,"disp":true,"width":30,"collapse":false},{"id":"b671a2c9.27b24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65dc76d8.eb8ee8","type":"telegram bot","botname":"yolocameranotifications_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"10b7bc0e.510f44","type":"watch-directory","z":"c4c50837.00cc28","folder":"/detected","recursive":"8","typeEvent":"create","ignoreInitial":true,"ignoredFiles":"","ignoredFilesType":"re","name":"","x":80,"y":240,"wires":[["5c196178.dae71"]]},{"id":"5c196178.dae71","type":"change","z":"c4c50837.00cc28","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["809d2449.ea9878"]]},{"id":"809d2449.ea9878","type":"file in","z":"c4c50837.00cc28","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":470,"y":240,"wires":[["266e65bc.98f60a"]]},{"id":"266e65bc.98f60a","type":"image-info","z":"c4c50837.00cc28","name":"","x":630,"y":240,"wires":[["b912392f.bc3dd"]]},{"id":"43ddd050.c174f","type":"telegram sender","z":"c4c50837.00cc28","name":"","bot":"65dc76d8.eb8ee8","haserroroutput":false,"outputs":1,"x":2550,"y":460,"wires":[[]]},{"id":"2bb33b38.9fd9b4","type":"delay","z":"c4c50837.00cc28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1680,"y":420,"wires":[["5692468d.682db8"]]},{"id":"5692468d.682db8","type":"function","z":"c4c50837.00cc28","name":"createTelegramMessage","func":"node.warn(msg.payload)\n\n\nconst imageMessage = {\n    payload : {\n    content : msg.payload.path,\n    type : 'photo',\n    chatId : '915660758'\n    }\n}\n\ninfoMessage = {\n    payload : {\n    content : \n`Detected: ${msg.payload.label}\nConfidence: ${msg.payload.confidenceStr} \nTime (GMT): ${msg.payload.time}\nResolution: ${msg.payload.width}x${msg.payload.height}\n`,\n    type : 'message',\n    chatId : '915660758'\n    }\n}\n\nreturn [imageMessage,infoMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1910,"y":420,"wires":[["213a8a80.3cde86"],["43ddd050.c174f"]]},{"id":"c63323ec.005298","type":"ui_template","z":"c4c50837.00cc28","group":"d04e3134.a6ece","name":"Image Display","order":2,"width":22,"height":12,"format":"<div>\n    <img src=\"{{msg.payload.imgSource}}\" height=\"100%\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1920,"y":320,"wires":[[]]},{"id":"b912392f.bc3dd","type":"base64","z":"c4c50837.00cc28","name":"","action":"","property":"payload","x":800,"y":240,"wires":[["ead9b88b.f2cc68"]]},{"id":"ead9b88b.f2cc68","type":"function","z":"c4c50837.00cc28","name":"","func":"let b64 = msg.payload;\nconst numberRegex = /[+-]?\\d+(\\.\\d+)?/g;\n\n\nconst pngPrefix = 'data:image/png;base64, ';\nconst jpgPrefix = 'data:image/jpg;base64, ';\nconst parts = msg.file.split('_');\n//person_2021-03-09_17_21_41_460777_conf0.61.jpg\nconst label = parts[0];\nconst date = parts[1];\nconst time = [2,3,4].map(i => parts[i]).join('-');\nconst confidence = parts[6].match(numberRegex).map(v => parseFloat(v))[0];\nconst score = (confidence * msg.width * msg.height);\n\nlet imgSource = '';\n\nif(msg.filename.endsWith(\".png\"))\n    imgSource = pngPrefix + b64;\n\nif(msg.filename.endsWith(\".jpg\") || msg.filename.endsWith(\".jpeg\"))\n    imgSource = jpgPrefix + b64;\n\nmsg = {\n    payload: {\n        path: msg.filename,\n        label: label,\n        date: date,\n        time:time,\n        imgSource: imgSource,\n        confidence: confidence,\n        confidenceStr: `${confidence * 100}%`,\n        width: msg.width,\n        height: msg.height,\n        score: score\n    }\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":240,"wires":[["16d167bd.7d9658"]]},{"id":"c960d874.e1639","type":"ui_template","z":"c4c50837.00cc28","group":"d04e3134.a6ece","name":"Image info","order":1,"width":8,"height":12,"format":"<div>    \n    <h2>{{msg.payload.label}}</h2>\n    <h3>{{msg.payload.date}} - {{msg.payload.time}}</h3>\n    <h4>Confidence: {{msg.payload.confidence}}</h4>\n    <h4>Score: {{msg.payload.score}}</h4>\n    <h4>Resolution: {{msg.payload.width}} x {{msg.payload.height}}</h4>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1910,"y":280,"wires":[[]]},{"id":"213a8a80.3cde86","type":"delay","z":"c4c50837.00cc28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2140,"y":380,"wires":[["43ddd050.c174f"]]},{"id":"976d28a7.9dcc9","type":"function","z":"c4c50837.00cc28","name":"getBestImage","func":"let lastNMessages = msg.payload;\nlet highestConfidenceMessage = lastNMessages;\n\nconst maxBy = (arr, func) => {\n  const max = Math.max(...arr.map(func))\n  return arr.find(item => func(item) === max)\n}\nlet highestOfBuffer = maxBy(lastNMessages, o => o.height * o.width);\n\nif(highestOfBuffer){\n    msg.payload = highestOfBuffer;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":420,"wires":[["ef57496f.622d08","2bb33b38.9fd9b4"]]},{"id":"16d167bd.7d9658","type":"function","z":"c4c50837.00cc28","name":"aggregateBySecond","func":"let lastID = global.get('lastID') || \"\";\nlet cachedMessages = global.get('cachedMessages') || [];\n\nlet imageID = `${msg.payload.time}`;\n\nif(imageID == lastID){\n    cachedMessages.push(msg.payload);\n    return null;\n}else{\n    global.set('lastID',imageID);\n    global.set('cachedMessages',[]);\n    \n    return {\n        payload: cachedMessages,\n        topic: 'aggregatedMessages'\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":420,"wires":[["976d28a7.9dcc9"]]},{"id":"ef57496f.622d08","type":"delay","z":"c4c50837.00cc28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1680,"y":340,"wires":[["c960d874.e1639","c63323ec.005298"]]}]